@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
*{
   margin: 0;
   padding: 0;
   list-style: none;
   box-sizing: border-box;
}
body{
   font-family: 'PT Sans', sans-serif;
   background-color: #FFD11F;
   display: flex;
   justify-content: space-around;
   align-items: center;
   min-height: 100vh;
}
.wrapper{
    width: 320px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}
h2{
    padding: 15px 0;
}
span{
    display: block;
    padding: 5px 0;
    font-size: 17px;
}
input{
    width: 100%;
    display: block;
    height: 40px;
    outline: none;
    padding: 5px;
}
button{
    width: 100%;
    height: 40px;
    margin: 20px 0;
    font-size: 16px;
    background-color: #FFD11F;
}
